* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header section */

header {
  background-color: #1f2937;
  padding: 16px 0;
}

.page-view-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 20px;
  width: 1080px;
  margin: 0 auto;
  padding: 0px 10px;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  text-wrap: nowrap;
}

header ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

header ul a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

/* Hero section */

.hero-section {
  background-color: #1f2937;
  padding: 100px 0;
}

.hero-section .page-view-container {
  align-items: stretch;
  gap: 50px;

  flex-wrap: wrap;
}

.hero-div {
  display: flex;
  flex-direction: column;
  gap: 16px;

  flex: 1;
}

.main-hero-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}

.secondary-hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

.signup-button {
  align-self: flex-start;

  background-color: #3882f6;

  color: white;
  font-weight: bold;
  font-size: 16px;

  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  cursor: pointer;
}

.hero-img-div {
  flex: 1;
  display: flex;
  align-items: center;
  flex-basis: 150px;
}

.splash-image {
  width: 100%;
  height: 225px;

  object-fit: cover;
}

/* Info section */

.info-section {
  padding-top: 40px;

  margin-bottom: 100px;
}

.info-section .page-view-container {
  flex-direction: column;
  gap: 36px;
}

.info-section h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.cards-row {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;

  justify-content: center;
  align-items: center;
}

/* Info card */

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 165px;

  text-align: center;
}

.card-image {
  border: 4px solid #3882f6;
  border-radius: 16px;

  width: 165px;
  height: 165px;

  object-fit: cover;
}

.card-subtext {
  font-size: 18px;
  color: #1f2937;
}

/* quote section */

.quote-section {
  color: #1f2937;
  height: 400px;
  background-color: #e5e7eb;
}

.quote-section .page-view-container {
  justify-content: center;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.quote-author-text {
  text-align: end;
  font-weight: bold;
  font-size: 20px;
}

/* action section */

.action-section {
  padding: 75px 0;
  color: white;
}

.action-section .page-view-container {
  justify-content: center;
}

.action-container {
  background-color: #3882f6;
  border-radius: 12px;

  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
  gap: 20px;

  width: 100%;
  padding: 60px 120px;
}

.action-main-text {
  font-size: 30px;
  font-weight: bold;
}

.action-secondary-text {
  font-size: 20px;
  color: rgb(225, 225, 225);
}

.action-signup-button {
  background-color: #3882f6;
  border: 3px solid white;
  border-radius: 10px;

  color: white;
  font-weight: bold;
  font-size: 18px;
  text-wrap: nowrap;

  flex-shrink: 0;

  padding: 10px 32px;
  cursor: pointer;
}

/* Footer */

footer {
  background-color: #1f2937;
  font-size: 18px;
  color: #e5e7eb;

  padding: 40px 20px;
}
